export TF_VAR_org_id=450545033714
export TF_VAR_project_name=test-infra-chainspace-1
export TF_VAR_region=europe-west1
export TF_VAR_node_count=8
export TF_VAR_conf_path=./conf
export TF_VAR_chainspace_path=./chainspace.upx
export TF_VAR_run_path=./run.sh
export TF_VAR_runtmux_path=./runtmux.sh
export TF_VAR_runadapt_path=./runadapt.sh
export TF_VAR_runshardingtmux_path=./runshardingtmux.sh
export TF_VAR_private_key_path=~/.ssh/google_compute_engine
export TF_VAR_username=jeremy